.container{
    width: 500px;
    height: 450px;
    border: 5px solid black;
    display: flex;
    /*justify-content: flex-start;   main-axis alignment(X-axis)*/
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* align-content: stretch; default value*/
    /*align-content: flex-start;  cross-axis alignment(Y-axis)*/
    /* align-content: space-between; */
    /* align-content: space-around; */
    flex-direction: row; 
    flex-wrap: wrap;
    /* flex-direction: row-reverse;  */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    align-items: flex-start;
}
.box{
    padding: 30px;
    border: 5px solid red;
    background-color: red;
    margin: 1px;
    /* flex-grow: 1; */
    font-size: 25px;
    font-weight: bold;
}

/* .box:nth-of-type(odd){
    background-color: red;
}
/* Item Order */
.box:nth-child(1){
    /* order: 5 */
    /* align-self: stretch; */
    flex-grow: 1;
}
.box:nth-child(2){
    /* order: 1 */
    /* align-self: flex-start; */
    flex-grow: 2;
}
.box:nth-child(3){
    /* order: 4 */
    /* align-self: center; */
    flex-grow: 2;
}
.box:nth-child(4){
    /* order: 2 */
    flex-shrink: 5;
    
}
.box:nth-child(5){
    /* order: 3 */
    /* align-self: flex-end; */
    flex-grow: 1;
} 
