div {
  width: 100px;
  height: 100px;
  background: blue;
  margin: 15px;
  color: white;
  transition: all 1s;
  display: block;
}
div:hover {
  transform: translate(100px);
  background: greenyellow;
  color: black;
}
.ease {
  transition-timing-function: ease;
}
.linear {
  transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
